In [1]:
# Import library yang diperlukan
import pandas as pd
import sqlite3
from datetime import datetime, timedelta

# Tentukan path ke database SQLite Anda
DATABASE_PATH = r'D:\workspace\EXPENSE_REPORT\flask2\instance\expenses_track.db'

# Membuka koneksi ke database
conn = sqlite3.connect(DATABASE_PATH)

# Ambil data dari tabel Expense
query = "SELECT nominal, tanggal FROM expense"  # Pastikan nama tabelnya sesuai
df = pd.read_sql(query, conn)

# Pastikan kolom 'tanggal' sudah dalam format datetime
df['tanggal'] = pd.to_datetime(df['tanggal']).dt.date

# Menampilkan DataFrame
df.head()

# Tutup koneksi setelah selesai
conn.close()

In [2]:
today = datetime.today().date()
today

datetime.date(2025, 2, 2)

In [3]:
df.sort_values('tanggal', ascending=False, inplace=True)
df

      nominal     tanggal
1423     5900  2025-02-01
1415    16000  2025-02-01
1422     4200  2025-02-01
1421    16000  2025-02-01
1420     5000  2025-01-31
...       ...         ...
4        8500  2023-10-09
2       10000  2023-10-09
3       11000  2023-10-09
1       14000  2023-10-08
0       14000  2023-10-08

[1424 rows x 2 columns]

In [4]:
# Bulan ini
start_of_this_month = today.replace(day=1)
filtered_this_month = df[df['tanggal'] >= start_of_this_month]
filtered_this_month

      nominal     tanggal
1423     5900  2025-02-01
1415    16000  2025-02-01
1422     4200  2025-02-01
1421    16000  2025-02-01

In [5]:
start_of_this_month

datetime.date(2025, 2, 1)

In [6]:
# Bulan kemarin
start_of_last_month = (start_of_this_month - timedelta(days=1)).replace(day=1)
end_of_last_month = start_of_this_month - timedelta(days=1)
filtered_last_month = df[(df['tanggal'] >= start_of_last_month) & (df['tanggal'] <= end_of_last_month)]

# Group by tanggal untuk bulan ini
grouped_this_month = (
    filtered_this_month.groupby('tanggal')['nominal']
    .sum()
    .reset_index()
)

avg_daily = grouped_this_month['nominal'].mean()
avg_daily_rounded = round(avg_daily, 2)

In [7]:
avg_daily_rounded

np.float64(42100.0)

In [15]:
grouped_this_month['nominal'].sum() / (today-grouped_this_month['tanggal'].min() + timedelta(days=1))

np.int64(42100)

In [16]:
(today-grouped_this_month['tanggal'].min() + timedelta(days=1))

datetime.timedelta(days=2)

In [17]:
(grouped_this_month['nominal'].sum()) / ((today - grouped_this_month['tanggal'].min()).days + 1)

np.float64(21050.0)

In [4]:
avg_daily_rounded

nan

In [5]:
filtered_this_month

Empty DataFrame
Columns: [nominal, tanggal]
Index: []

In [7]:
print(today)

2025-02-01 21:07:33.913912

In [8]:
df[df['tanggal'] >= start_of_this_month]

Empty DataFrame
Columns: [nominal, tanggal]
Index: []