In [2]:
# Import library yang diperlukan
import pandas as pd
import sqlite3

# Tentukan path ke database SQLite Anda
DATABASE_PATH = 'D:/workspace/EXPENSE_REPORT/flask2/expenses.db'

# Membuka koneksi ke database
conn = sqlite3.connect(DATABASE_PATH)

# Ambil data dari tabel Expense
query = "SELECT nominal, tanggal FROM expense"  # Pastikan nama tabelnya sesuai
df = pd.read_sql(query, conn)

# Pastikan kolom 'tanggal' sudah dalam format datetime
df['tanggal'] = pd.to_datetime(df['tanggal'])

# Menampilkan DataFrame
df.head()

# Tutup koneksi setelah selesai
conn.close()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413 entries, 0 to 1412
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nominal  1413 non-null   int64
 1   tanggal  1413 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 22.2 KB

In [24]:
import pandas as pd
from datetime import datetime, timedelta

In [25]:
# Mendapatkan tanggal hari ini
today = datetime.today()

# Bulan ini
start_of_this_month = today.replace(day=1)
filtered_this_month = df[(df['tanggal'] >= start_of_this_month) & (df['tanggal'] < today)]

# Bulan kemarin
start_of_last_month = (start_of_this_month - pd.DateOffset(months=1)).replace(day=1)
end_of_last_month = start_of_this_month - pd.Timedelta(days=1)
filtered_last_month = df[(df['tanggal'] >= start_of_last_month) & (df['tanggal'] <= end_of_last_month)]

# Menampilkan hasil
print("Data bulan ini:")
print(filtered_this_month)

print("\nData bulan kemarin:")
print(filtered_last_month)

Data bulan ini:
      nominal    tanggal
1342    23800 2025-01-02
1343    13100 2025-01-02
1344    16000 2025-01-06
1345     2900 2025-01-06
1346    11000 2025-01-06
...       ...        ...
1408     5000 2025-01-23
1409    18000 2025-01-24
1410    10000 2025-01-24
1411     1200 2025-01-24
1412    15000 2025-01-24

[70 rows x 2 columns]

Data bulan kemarin:
      nominal    tanggal
1277    12000 2024-12-05
1284     5500 2024-12-02
1285   130000 2024-12-04
1286   135000 2024-12-05
1287    33000 2024-12-05
1288    17000 2024-12-09
1289    25500 2024-12-05
1290     1200 2024-12-05
1291    17000 2024-12-10
1292    12000 2024-12-11
1293     3900 2024-12-11
1294     3500 2024-12-11
1295    17000 2024-12-12
1296    17000 2024-12-13
1297    18000 2024-12-14
1298    20000 2024-12-14
1299     5000 2024-12-14
1300    12000 2024-12-15
1301    16000 2024-12-15
1302    22000 2024-12-16
1303    16000 2024-12-17
1304    16000 2024-12-18
1305    17000 2024-12-09
1306   101641 2024-12-09
1307    13000 2024-12-10
1308   237820 2024-12-13
1309    18000 2024-12-16
1310    17000 2024-12-17
1311    38000 2024-12-17
1312    28500 2024-12-17
1313    19000 2024-12-18
1314    12000 2024-12-19
1315    15000 2024-12-20
1316    14000 2024-12-21
1317    12000 2024-12-21
1318    18000 2024-12-22
1319     2000 2024-12-22
1320    15000 2024-12-22
1321    13000 2024-12-19
1322    20000 2024-12-20
1323   200000 2024-12-20
1324    41900 2024-12-21
1325     8000 2024-12-22
1326   165000 2024-12-22
1327    16000 2024-12-23
1328    16000 2024-12-23
1329     1200 2024-12-12
1330    20000 2024-12-24
1331     5800 2024-12-24
1332     1200 2024-12-24
1333    21500 2024-12-24
1334   120000 2024-12-26
1335    50000 2024-12-28
1336   120000 2024-12-28
1337    90000 2024-12-28
1338   540000 2024-12-28
1339  1000000 2024-12-30
1340     2500 2024-12-30
1341     1000 2024-12-27
1354     5000 2024-12-31

In [28]:
filtered_this_month

      nominal    tanggal
1342    23800 2025-01-02
1343    13100 2025-01-02
1344    16000 2025-01-06
1345     2900 2025-01-06
1346    11000 2025-01-06
...       ...        ...
1408     5000 2025-01-23
1409    18000 2025-01-24
1410    10000 2025-01-24
1411     1200 2025-01-24
1412    15000 2025-01-24

[70 rows x 2 columns]

In [30]:
filtered_this_month

      nominal    tanggal
1342    23800 2025-01-02
1343    13100 2025-01-02
1344    16000 2025-01-06
1345     2900 2025-01-06
1346    11000 2025-01-06
...       ...        ...
1408     5000 2025-01-23
1409    18000 2025-01-24
1410    10000 2025-01-24
1411     1200 2025-01-24
1412    15000 2025-01-24

[70 rows x 2 columns]

In [32]:
grouped_this_month = (
    filtered_this_month.groupby(filtered_this_month['tanggal'].dt.date)['nominal']
    .sum()
    .reset_index()
)
print(grouped_this_month)

       tanggal  nominal
0   2025-01-02    42400
1   2025-01-05    14500
2   2025-01-06    78300
3   2025-01-07    30000
4   2025-01-08   384757
5   2025-01-09    34000
6   2025-01-10    68100
7   2025-01-11    73900
8   2025-01-12   266820
9   2025-01-13    43000
10  2025-01-14    46000
11  2025-01-15    36000
12  2025-01-16    30000
13  2025-01-17    75000
14  2025-01-18    59400
15  2025-01-19    30000
16  2025-01-20    42000
17  2025-01-21    73800
18  2025-01-22    27000
19  2025-01-23    54000
20  2025-01-24    44200

In [36]:
avg_daily = grouped_this_month['nominal'].mean()
avg_daily_rounded = round(avg_daily, 2)
# print(avg_daily_rounded)
avg_daily_rounded

np.float64(73960.81)

In [38]:
print(avg_daily_rounded)

73960.81

In [39]:
# Hitung total nominal untuk bulan ini
total_this_month = filtered_this_month['nominal'].sum()

# Hitung total nominal untuk bulan sebelumnya
total_last_month = filtered_last_month['nominal'].sum()

# Hitung perubahan persentase dari bulan sebelumnya ke bulan ini
if total_last_month != 0:  # Pastikan tidak ada pembagian dengan nol
    change_in_month = ((total_this_month - total_last_month) / total_last_month) * 100
else:
    change_in_month = float('inf')  # Jika bulan sebelumnya 0, anggap perubahan tak terhingga

# Tampilkan hasil
print(f"Total Nominal Bulan Ini: {total_this_month}")
print(f"Total Nominal Bulan Sebelumnya: {total_last_month}")
print(f"Change in Month: {change_in_month:.2f}%")

Total Nominal Bulan Ini: 1553177
Total Nominal Bulan Sebelumnya: 3590661
Change in Month: -56.74%

In [7]:
# Ambil tanggal sekarang
today = datetime.now()

# Cetak informasi penting untuk debugging
print("Today's Date: ", today)

# Perhitungan untuk pengeluaran bulan ini
start_of_month = today.replace(day=1)
month_expenses = df[df['tanggal'] >= start_of_month]['nominal'].sum()
print("Month Expenses: ", month_expenses)

Today's Date:  2025-01-27 21:10:56.562567
Month Expenses:  1553177

In [9]:
print(start_of_month)

2025-01-01 21:10:56.562567

In [10]:
# Perhitungan untuk pengeluaran minggu kemarin
# Hari Senin minggu kemarin
start_of_last_week = today - timedelta(days=today.weekday() + 7)
start_of_last_week = start_of_last_week.replace(hour=0, minute=0, second=0, microsecond=0)

# Hari Minggu minggu kemarin
end_of_last_week = start_of_last_week + timedelta(days=6, hours=23, minutes=59, seconds=59, microseconds=999999)

week_expenses_last_week = df[(df['tanggal'] >= start_of_last_week) & (df['tanggal'] <= end_of_last_week)]['nominal'].sum()
print("Last Week's Expenses: ", week_expenses_last_week)

Last Week's Expenses:  241000

In [11]:
print(start_of_last_week)
print(end_of_last_week)

2025-01-20 00:00:00
2025-01-26 23:59:59.999999

In [14]:
df[(df['tanggal'] >= start_of_last_week) & (df['tanggal'] <= end_of_last_week)]

      nominal    tanggal
1395     6000 2025-01-20
1396     5000 2025-01-20
1397    13000 2025-01-20
1398    18000 2025-01-20
1399     9200 2025-01-21
1400    25600 2025-01-21
1401    17000 2025-01-21
1402    22000 2025-01-21
1403    12000 2025-01-22
1404    15000 2025-01-22
1405    13000 2025-01-23
1406    19000 2025-01-23
1407    17000 2025-01-23
1408     5000 2025-01-23
1409    18000 2025-01-24
1410    10000 2025-01-24
1411     1200 2025-01-24
1412    15000 2025-01-24

In [15]:
# Perhitungan untuk pengeluaran 7 hari terakhir
start_of_last_7_days = today - timedelta(days=7)
expenses_last_7_days = df[df['tanggal'] >= start_of_last_7_days]['nominal'].sum()
print("Last 7 Days Expenses: ", expenses_last_7_days)

Last 7 Days Expenses:  199000

In [16]:
# Rata-rata pengeluaran harian dalam bulan ini
total_days_in_month = (today.replace(day=28) + timedelta(days=4)).day  # Menghitung jumlah hari dalam bulan ini
daily_avg_expenses = month_expenses / total_days_in_month if total_days_in_month > 0 else 0
print("Average Daily Expenses in This Month: ", daily_avg_expenses)

Average Daily Expenses in This Month:  1553177.0

In [21]:
print(today)

2025-01-27 21:10:56.562567

In [22]:
type(today)

datetime.datetime